.knapsack-container {
    display: flex;
    width: 100%;
    /* align-items: center;
    justify-content: center; */
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

.knapsack-box {
    width: 300px;
    height: 150px;
    padding: 16px;
    padding-bottom: 32px; 
    margin: 40px;
    color: #000000;
    background-color: #ADD8E6;
    border: 1px solid black;
    border-radius: 10%;
  }

.stats {
    font-size: 18px;
    margin-bottom: 20px;
}

.add-btn {
    padding: 10px 15px;
    font-size: 16px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 15px;
}

.add-btn:hover {
    background: #45a049;
}

.qubit-container {
    flex-grow: 1;
}

.qubit-item {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.remove-btn {
    background: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.remove-btn:hover {
    background: #c0392b;
}

.modal-error-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
    padding: 32px;
    border-radius: 16px;
}
  
